.statistic {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  padding-right: 110px;

  &__star {
    width: 12px;
    height: 12px;
    margin-right: 3px;
  }

  &__value {
    font-size: 15px;
    color: black;
  }
}
