.card {
  margin:0 25.22px;

  // &:nth-child(n + 6) {
  //   margin-top: 30px;
  // }

  .ant-card {
    width: 240px;
  }

  img {
    height: 350px;
  }

  .ant-card-meta-description {
    white-space: nowrap;
    text-overflow: ellipsis
  }
}

.ant-popover-title {
  display: none;
}
